<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h2>Главная страница</h2>
        <a href="{% url 'calculator:create' %}" class="btn btn-primary">Сделать новый расчет</a>
        <a href="{% url 'calculator:proposal_history' %}" class="btn btn-secondary">История расчетов</a>
    </div>
</body>
</html>
